* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
--almost-white:  #fffdfa;
--dark-blue: #00001a;
--gunmetal: #5e607a;
--vermilion: #f15d51;
--yellow: #e9aa52;
--silver: #c5c6ce;

}


body {
    padding: 1.75rem 1rem;
    background-color: var(--almost-white)
}

body.escurecer::before {
content: "";
position: fixed;
height: 100vh;
width: 100%;
background-color: rgba(0, 0, 26, 0.5)
top: 0;
left: 0;
z-index: 1;

}

.header-mobile {
    display: flex;
    justify-content:space-between;    
    align-items: center;
    margin-bottom: 2rem;
}

.header-mobile button {
    border: none;
    background: none;
    width: fit-content;
}

.header-mobile nav {
    position: fixed;
    background-color: var(--almost-white);
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    z-index: 999;

    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;

    transition: 0.7s;
}

.header-mobile nav button {
   align-self: auto;
   margin-bottom: 4rem;
}

.header-mobile nav.abrir {
    right: 0;
}

.header-mobile nav a {
    text-decoration: none ;
    color: var(--dark-blue);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.primeira-seção {
    margin-bottom: 4rem;
}

.primeira-seção {
    width: 100%;
    margin-bottom: 1.5rem;
}

.primeira-seção h1 {
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.primeira-seção p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color:var(--gunmetal) ;
    margin-bottom:1.5rem ;   
}

.primeira-seção button {
    padding: 0.75rem 2rem;
    background-color: var(--vermilion);
    border: none;
    text-transform: uppercase;
    color:var(--almost-white) ;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
    line-height: 1.5rem 1.3rem;
}

.segunda-seção {
    background-color:var(--dark-blue);
    margin-bottom: 4rem;
    padding: 1.5rem 1.1rem;
}


margin-border-padding {
    border-bottom: 1px solid var(--gunmetal);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
}


.segunda-seção h2 {
    font-size: 2rem;
    line-height: 100%;
    color: var(--yellow);
    margin-bottom:2.2rem;

}

.segunda-seção h3 {
    color: var(--almost-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;

}

.segunda-seção {
    color: var(--silver);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}

.terecira-seção > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.terecira-seção img {
    max-width: 6.25rem;

}

.terecira-seção strong {
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;
}

.terecira-seção h2 {
     font-size: 1.125rem;
     color: var(--dark-blue);
     font-weight: 800;
     line-height: 1.5rem;
     margin-block: 0.6rem;
}

.terecira-seção p {
    font-size: 0.9375rem;
    line-height: 1.625;
    color: var(--gunmetal)
}
